{% extends 'layouts.html' %}

{% block content %}

<div class="row">

    {% for estudiante in estudiantes %}
    <div class=" col-4 mt-4">
        <div class=" card ">
            <div class="card-header bg-light ">
                <h1><span class="badge  badge-pill badge-danger ml-2">
                        {{persona.id}}
                    </span></h1>
            </div>
            <div class=" card-body">
                <i class="fa-solid fa-user"></i>
                <a>Alumno: </a>{{estudiante.persona_persona}}<br>
                <a>Semestre: </a>{{estudiante.semestre}}<br>
                <a>Grupo: </a>{{estudiante.grupo}}

            </div>
            <div class=" card-footer">
                <div class="row">
                    <div class="col-6">         
                               
                        <button type="button" class="btn btn-primary">
                            <a href="{% url 'editarestudiante' estudiante.id %}"><i class=" fa-solid fa-file-pen" style="color:white;"></i></a>       
                        </button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'eliminarestudiante' estudiante.id %}"></a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#idmodaleliminar">
                            <i class=" fa-solid fa-trash "></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="idmodaleliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Estás seguro de eliminar
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-primary" href="{% url 'eliminarestudiante' estudiante.id %}">Aceptar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}